.controls-below-table .table-records-pages ul li.active a{
  color: black;
  cursor: default;
}


.menu-top-w .menu-top-i ul.main-menu > li.active > a .icon-w {
    color: #9db2ff;
}

.menu-top-w .menu-top-i ul.main-menu > li.active > a {
    text-decoration: none;
    background-color: #0061da;
    color: #fff;
}

.menu-top-w .menu-top-i ul.main-menu > li.active > a {
    text-decoration: none;
    background-color: #0061da;
    color: #fff;
}
.menu-top-w .menu-top-i .logo-w{
  padding: 0rem 1rem;
}
.menu-top-w .menu-top-i .logo-w img {
  width: 135px;

}

button{
  cursor: pointer;
}

select.form-control:not([size]):not([multiple]) {
  padding: 0px 8px;
}

.desFilter{
  border-left: 5px solid #047bf8;
  padding: 8px 0 0px 10px;
  background: #f1f3f8;
  margin-bottom: 1.5rem;
  position: relative;
}

.desFilter::before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #f1f3f8;
  bottom: -15px;
  left: 50%;
  margin-left:-15px;
}
.desFilter .form-inline{
  flex: 1 1 auto;
}

.desFilter .form-inline .form-control{
  width: 200px;
  margin-bottom: 10px;
}

.desFilter-title{
  font-weight: bold;
  margin-right: 15px;
  flex: 0 1 0px;
  white-space:nowrap;
}

.table tfoot th,
.table thead th {
  font-size: 0.7rem;
  font-weight: 900;
  text-transform: uppercase;
  border-top: none;
}

.formFilter{
  display: flex;
  flex-flow: row wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.formFilter-block{
  flex: 0 0 auto;
  width: 250px;
  /*flex: 1 1 0px;*/
  padding: 0 10px;
}
.formFilter-block-search{
  flex: 0 0 auto;
  width: 100%;
  padding: 0 10px;
}

.formFilter-block .form-group label{
  font-weight: 900;
  font-size: 0.7rem;
  margin-bottom: 2px;
  text-transform: uppercase;
}
.select2-container {
  width: 100% !important;
}
.select2-container .select2-selection--single{
  height: 35px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 35px !important;
}



.datepicker {
  padding: 16px 25px;
  border-radius: 2px;
  font-size: 12px;
}

.datepicker:after {
  border-bottom-color: #fafafa;
}

.datepicker thead tr .datepicker-switch {
  color: #6f7b8a;
  font-size: 13px;
}

.datepicker thead tr .next, .datepicker thead tr .prev {
  color: #0061da;
  content: '';
  font-size: 0px;
}

.datepicker thead tr .next:before, .datepicker thead tr .prev:before {
  color: #0061da;
  font-family: 'FontAwesome';
  font-size: 10px;
}

.datepicker thead tr .prev:before {
  content: "\f053";
}

.datepicker thead tr .next:before {
  content: "\f054";
}

.datepicker thead tr .dow {
  color: #0061da;
  text-transform: uppercase;
  font-size: 11px;
}

.datepicker thead tr th {
  width: 31px;
  height: 29px;
}

.datepicker tbody tr .odd {
  color: #d0d3d8;
}

.datepicker table tr td {
  width: 31px;
  height: 29px;
}

.datepicker table tr td.old, .datepicker table tr td.new {
  color: #e6e6e6;
}

.datepicker table tr td.day:hover {
  background: #f0f0f0;
}

.datepicker table tr td.active {
  background-color: #0061da !important;
}

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
  background-image: none;
  text-shadow: none;
  font-weight: 600;
}

.datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover {
  background-color: #f0f0f0;
  background-image: none;
  color: #fff;
}

.datepicker table tr td span {
  border-radius: 4px;
  width: 42px;
  height: 42px;
  line-height: 42px;
}

.datepicker table tr td span.active {
  background-color: #0061da !important;
}

.datepicker table tr td span.active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover {
  background-image: none;
  border: none;
  text-shadow: none;
}

.datepicker.dropdown-menu {
  border-color: #e6e6e6;
  color: #626262;
}

.datepicker.datepicker-dropdown.datepicker-orient-bottom:before {
  border-color: #e6e6e6;
}

.datepicker-inline {
  width: auto;
}

.input-daterange .input-group-addon {
  text-shadow: none;
  border: 0;
  margin: 0;
}
ux-dialog-container > div{
   margin-top: 0 !important;
   margin-bottom: 0 !important;
  width: 100%;
  height: 100%;
}
ux-dialog{
  display: block !important;
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  width: 100% !important;
  height: 100% !important;

  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
}



ux-dialog-container.active ux-dialog{
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

ux-dialog>ux-dialog-body {
  display: block !important;
  padding: 0px !important;
}

ux-dialog-container>div>div{
  width: 100% !important;
  height: 100%;
}

.modal-fullscreen{
  max-width: 100%;
  margin-top: 0;
}
.element-wrapper .element-header{
  font-weight: bold;
}
.form-group{
  align-items: center;
}
.custom-control-indicator{
  top: 0.15rem;
}
.full-chat-w .full-chat-left{
  flex: 1 1 0px;
}

.full-chat-w .chat-content-w .chat-content{
  padding: 0;
  min-height: 200px;
}
.full-chat-w .full-chat-left{
  background: white;
  padding: 0;
  background: white;
}
.full-chat-w .chat-content-w{
  height: 600px;
  overflow-y: auto;
}
.chat-message-date strong{
  color: #212121;
}
.chat-message-content{
  font-size:13px;
}
.chat-message-content p{
  margin-bottom: 0.5rem;
}
